.drinksImg {
  border-radius: 88% 12% 88% 12% / 11% 84% 16% 89% ;
  width: 25rem;
  height: 25rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.drinksImgContainer {
  display: flex;
  background-color: #c6e1e5;
  padding: 2rem 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.pBold {
  font-family: RalewayBold;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.divFlex {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
