.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #c6e1e5;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #0a415e;
  text-align: center;
  text-transform: uppercase;
  font-family: Cronus;
  font-weight: 700;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #0a415e;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: fff;
  padding-left: 1rem;
}
.login-box .user-box label {
  position: absolute;
  top: -35px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #0a415e;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -35px;
  left: 0;
  color: #0a415e;
  font-size: 12px;
}
