@font-face {
  font-family: Cronus;
  src: url('./assets/CRONUS\ ROUND.OTF');
}

@font-face {
  font-family: Readex;
  src: url('./assets/READEXPRO-VARIABLEFONT_HEXP\,WGHT.TTF');
}

@font-face {
  font-family: Raleway;
  src: url('./assets/RALEWAY-REGULAR.TTF');
}

@font-face {
  font-family: RalewayBold;
  src: url('./assets/RALEWAY-SEMIBOLD.TTF');
}


body {
  background-color: #fbf7f5;
}

.Cronus-font{
  font-family: Cronus;
  font-weight: 700;
  color: #0A415E;
  text-transform: uppercase;
}

.margin-custom{
  margin-top: 10rem;
}

.navbar-toggler {
  border: #0A415E 1px solid;
  border-color: #0A415E !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(10, 65, 94)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.button{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}